<%- include ('../partials/headers_logged_in') %>


<main class="mb-48 flex flex-col">
    <div class="py-4">   
      <div class="grid grid-cols-1 gap-4">  
        <div class="grid grid-cols-1 gap-4 mx-16 rounded-xl">
          <hr>

         
          <!-- <hr> -->
          <p class="font-semibold text-7xl mt-16  mx-auto">Whats Trending?</p>
          <p class=" text-2xl my-4 mx-auto text-gray-400">Showing results for:</p>
          <form action="/home" method="get" class="mr-auto grid grid-cols-3 p-4 bg-stone-100 max-w-3xl mx-auto gap-4 text-lg rounded-xl" >
            <select name="university_id" id="university_id" class="rounded-xl p-4 ">
                <% 
                  if (uni_list) { 
                    options = '';
                    uni_list.forEach((result) => {
                      options += '<option ';
                      if (result.university_id == uni_id) {
                        options += ' selected ';
                      }
                      options += 'value="' + result.university_id + '">' + result.university_name+ '</option>';
                    })
                    }; %> 
                <%- options %> 
            </select>
            <select name="time" id="time" class="rounded-xl p-4 " >
              <% 
                    time_options = '';
                    time_options += '<option ';
                    if ("365days" == time) {
                        time_options += ' selected ';
                    }
                    time_options += 'value="365days">Past Year</option>';
                    time_options += '<option ';
                    if ("31days" == time) {
                        time_options += ' selected ';
                    }
                    time_options += 'value="31days">Past Month</option>';
                    time_options += '<option ';
                    if ("7days" == time) {
                        time_options += ' selected ';
                    }
                    time_options += 'value="7days">Past Week</option>';
                %> 
                <%- time_options %> 
            </select>
            <button type="submit" class="p-2 rounded-xl bg-white mt-1 hover:bg-unigreen hover:text-white">Update</button>
          </form>

          <div class="rounded-xl">
            <p class="font-semibold text-4xl flex mx-auto text-center my-8">Top 10 Songs</p>

            <div class="grid grid-cols-5 gap-4 mb-16">    
              <% 
                if (songs) { 
                  username = '????';
                  cards = '';
                  count = 0;
                  songs.forEach((result) => {
                    count++;
                    <!-- http://localhost:3000/add_song?title=Deja%20Vu&artist=J%20Cole&image_link=gfnwpgntr&song_id=432&username=Blake -->
                    cards += '<a href="/add_song?title=' + result.title + '&artist=' + result.artist + '&image_link=' + result.image_link + '&artist=' + result.artist + '&username=' + user.username + '&song_id=' + result.song_id + '">';
                    cards += '<div class="bg-stone-100 cursor-pointer rounded-xl hover:bg-unigreen p-4 ">';
                    cards += '<img class="rounded" src="' + result.image_link + '">';
                    cards += '<div class="grid grid-cols-1 mt-2 font-semibold">';
                    cards += '<p class="text-lg ">#'+count+'</p>';
                    cards += '<p class="text-lg text-center">'+result.title+'</p>';
                    cards += '</div>';
                    cards += '</div>';
                    cards += '</a>';
                  }) }; %> 
                <%- cards %> 
            </div>
             <div class="rounded-xl my-16 bg-stone-100 grid grid-cols-1 py-16">
            
                <p class="text-5xl font-semibold ml-16">Search For A Song</p>
                <!-- Search Bar -->
                <form action="/search_song" method="get" class="ml-16" >
                  <p class="text-xl p-1 text-gray-400 text-center max-w-md mx-auto my-8">Enter Drake, Taylor Swift, etc and click on the card to show that you are listening to it!</p>
                  <div class="flex flex-row gap-4 max-w-xl mx-auto">
                    <input id="search_query" name="search_query" class="bg-stone-200 rounded-xl text-xl w-full"></input>
                    <button type="submit" class="ml-1 p-4 rounded-xl bg-black text-white text-xl font-semibold w-2/6">Search</button>
                  </div>
                </form>
          </div>
             <!-- <p class="font-semibold text-4xl flex mx-auto text-center mt-16 mb-8">Data Graphs&nbsp; -->
            <hr>
            <p class="font-semibold text-4xl flex mx-auto text-center my-8">Trend Visualizations</p>
            <a href="/data_trends" class="text-center mx-auto">
              <div class="bg-stone-100 cursor-pointer p-12 mt-16 rounded-lg hover:bg-unigreen">
                <div class="text-7xl text-center m-auto">📈</div>
              </div> 
            </a>
          </div>
        </div>
      </div>
    </div>
</main>

<script type="text/javascript">
    function getval(sel) {
      window.location.href = '?university_id='+sel.value;
    }
</script>

<%- include ('../partials/footer') %>