<%- include ('../partials/headers_logged_in.ejs') %>
    <main>
        <div class="container-content-center">
            <h1>
                <hr class="my-8 h-px bg-green-500 border-green-500 dark:bg-green-500">
            </h1>
            <div class="flex items-center justify-center t-screen">
            <hr class="my-8 h-px bg-green-0 border-green-0 dark:bg-green-0">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <div class="px-6 py-4">
                  <p class="text-gray-700 text-2xl">Username: <%= username %></p>
                  <p class="text-gray-700 text-2xl">Password: <%= password %></p>
                  <!--<p class="text-gray-700 text-2xl">University: <%= university_id %> </p> -->
                </div>
                <div class="px-6 pt-4 pb-2">
                </div>
              </div>
              </div>
        <div class="mx-6 grid-cols-3 gap-4">
                  <% 
                if (transactions) { 
                  cards = '';
                  transactions.forEach((result) => {
                    cards += '<div class="bg-stone-100 cursor-pointer rounded-xl hover:bg-unigreen p-4 ">';
                    cards += '<img class="rounded" src="' + result.image_link + '">';
                    cards += '<div class="grid grid-cols-1 mt-2 font-semibold">';
                    cards += '<p class="text-lg text-center">'+result.title+'</p>';
                    cards += '</div>';
                    cards += '</div>';
                  }) }; %> 
                <%- cards %> 
          </div>
    </main>
    <%- include ('../partials/footer') %>