<%- include ('../partials/headers_logged_in') %>


<main class="mb-48 flex flex-col">
  
  <div class="flex flex-col justify-center m-auto text-center mx-4">
    <div class="text-3xl my-8 font-semibold">Search Results:</div>
    <div class="grid grid-cols-2 gap-4 max-w-xl mx-auto">
      <!-- <div><%= params.tracks[0].title %></div> -->
      <!-- <div><%= params.tracks[0].artist %></div> -->



     <% 
     if (params) { 
       <!-- console.log('444', result.dates.start) -->
       cards = '';
       params.tracks.forEach((result) => {
        console.log('fffffd',result);
        cards += '<a href="/add_song?song_id=' + result.SongId + '&title=' + result.title + '&image_link=' + result.imageLink + '&artist=' + result.artist + '&username=' + user.username + '">';

        cards += '<div class="p-3 bg-stone-100 cursor-pointer rounded">';
        <!-- console.log('@@@@',result); -->
        cards += '<img class="" src="' + result.imageLink + '">';
        cards += '<div class="text-2xl font-semibold my-2">'+result.title+'</div>';
        cards += '<div class="mb-2">'+result.artist+'</div>';
        cards += '</div>';
        cards += '</a>';

      })

      }; %> 

     <%- cards %> 
    </div>

  </div>
</main>

<%- include ('../partials/footer') %>